
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="MinhaControllerTambor">

    <div class="corSintec altura40 alinhamentos">
        <h2 class="corSintec">Página de Tambor</h2>
    </div>
    <div class="tabelaClientes">
        <form>
            <input class="inputsCadastro1" type="text" name="Id" id="Id" ng-model="Id" /> Id Tambor<br />
            <input class="inputsCadastro1" type="text" name="Nome" id="Nome" ng-model="Nome" /> Nome Tambor<br />
            <input class="inputsCadastro1" type="text" name="IdResponsavel" id="IdResponsavel" ng-model="IdResponsavel"/> Id Responsavel<br />
            <input class="inputsCadastro1" type="text" name="Preco" id="Preco" ng-model="Preco" /> Preço<br />
        </form>
    </div>
    <div>
        <input class="inputsCadastro" type="button" value="Quantidade">
        <input class="inputsCadastro" type="button" value="Salva com Ajax" ng-click="SalvarTambor()">
        <input class="inputsCadastro" type="button" value="Buscar Tambor" ng-click="BuscarTodosTambores()">
        <input class="inputsCadastro" type="button" value="Busque por nome" />
        <input class="inputsCadastro" type="button" value="Busque pelo usuario" />
    </div>
    <div id="loading">
        Loading...<br />
        System.Threading.Thread.Sleep(800 ms); na controller em buscare
    </div>
    <div class="tabelaClientes">


        Quantidade :
        <table id="tblLista" border="1">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="margem">Id</td>
                    <td class="margem">Nome</td>
                    <td class="margem">IdUsuario</td>
                    <td class="margem">Preco</td>
                </tr>
            </thead>
            <tbody>

                <!--colocar aqui a lista que chegou. usar tipo um foreach mas do angular-->

            </tbody><!--Está inserindo aqui dentro linhas que vem do estudo.js. pelo js-->
        </table>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/tambor.js"></script>
}

